In [2]:
import pandas as pd
import numpy as np

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [110]:
Bike_stations = pd.read_csv('C:\\Users\\pruth\\Desktop\\Data Science Lectures\\Statistical-Modelling-Project\\Bike_stations.csv', delimiter =',')

In [111]:
Bike_stations

                          Station Name   Latitude  Longitude  Bikes Available
0            Queen St E / Woodward Ave  43.665269 -79.319796               15
1          Primrose Ave / Davenport Rd  43.671420 -79.445947                0
2            Queen St. E / Rhodes Ave.  43.666224 -79.317693               16
3                 Bond St / Queen St E  43.653236 -79.376716                1
4             Church St / Alexander St  43.663722 -79.380288                7
..                                 ...        ...        ...              ...
701  Victoria Park Ave / Edge Park Ave  43.717679 -79.299616                1
702   Galbraith Rd / King's College Rd  43.660387 -79.395378                0
703              Exhibition GO Station  43.635201 -79.418771                4
704          Princes Gate / Nunavut Dr  43.633352 -79.414363                7
705                       800 Fleet St  43.636804 -79.408832               26

[706 rows x 4 columns]

In [112]:
indian_restaurant = pd.read_csv('C:\\Users\\pruth\\Desktop\\Data Science Lectures\\Statistical-Modelling-Project\\indian_restaurant.csv', delimiter =',')

In [113]:
indian_restaurant

,Latitude,Longitude,name,distance,address,telephone,rating,open_true
0,43.672665,-79.321041,Udupi Palace,810,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",(416) 405-8189,8.6,True
1,43.672278,-79.322523,Motimahal Restaurant Ltd,798,"1422 Gerrard St E (Coxwell), Toronto ON M4L 1Z6",(416) 461-3111,7.6,True
2,43.671871,-79.324283,Bombay Chowpatty,812,"1386 Gerrard St E, Toronto ON M4L 1Z2",(416) 405-8080,7.3,True
3,43.672004,-79.322433,Regency Restaurant Inc,790,"1423 Gerrard St E (Hiawatha St), Toronto ON M4...",(416) 778-7366,6.2,True
4,43.666400,-79.316826,Butter Chicken Roti,255,"1610 Queen St E (Coxwel), Toronto ON M4L 1G2",(647) 349-7684,NaN,True
...,...,...,...,...,...,...,...,...
3267,43.641873,-79.411437,My Roti Place,982,"901 King St W (at Strachan Ave), Toronto ON M5...",(647) 295-9446,NaN,True
3268,43.638479,-79.417204,Brazen Head Irish Pub,617,"165 E. Liberty St (at Lynn Williams St.), Toro...",(416) 535-8787,6.1,True
3269,43.641873,-79.411437,My Roti Place,622,"901 King St W (at Strachan Ave), Toronto ON M5...",(647) 295-9446,NaN,True
3270,43.638768,-79.416315,Maurya East Indian Cuisine - Liberty Village,655,"150 E Liberty St, Toronto ON M6K 3R5",(647) 347-7002,NaN,True
3271,43.638479,-79.417204,Brazen Head Irish Pub,692,"165 E. Liberty St (at Lynn Williams St.), Toro...",(416) 535-8787,6.1,True

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [114]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [119]:
# creating our database into project file
connection = create_connection("C:\\Users\\pruth\\Desktop\\Data Science Lectures\\Statistical-Modelling-Project\\api.db")

Connection to SQLite DB successful

In [121]:
# insert data from Bike_station dataframe
Bike_stations.to_sql('Bike_stations', connection, if_exists='replace', index=False)

706

In [122]:
# insert data from indian_restaurant dataframe
indian_restaurant.to_sql('indian_restaurant', connection, if_exists='replace',index=False)

3272

In [123]:
# commit changes
connection.commit()

In [124]:
# create a cursor object to execute SQL queries
cursor = connection.cursor()

In [125]:
# Perform a spatial join between the two tables using a SQL query
query = """
    SELECT bs.*, ir.*
    FROM Bike_stations AS bs
    JOIN indian_restaurant AS ir
    ON (
        ((ir.Latitude - bs.Latitude) * (ir.Latitude - bs.Latitude) +
        (ir.Longitude - bs.Longitude) * (ir.Longitude - bs.Longitude)) <= (1.0 / 111.32) * (1.0 / 111.32)  -- 1km radius
    )
"""

In [126]:
# execute the query
cursor.execute(query)

In [127]:
# fetch the result
result = cursor.fetchall()

In [129]:
# create a dataframe from the result
result_df = pd.DataFrame(result, columns=[column[0] for column in cursor.description])

In [130]:
result_df

,Station Name,Latitude,Longitude,Bikes Available,Latitude,Longitude,name,distance,address,telephone,rating,open_true
0,Queen St E / Woodward Ave,43.665269,-79.319796,15,43.672665,-79.321041,Udupi Palace,810,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",(416) 405-8189,8.6,1
1,Queen St E / Woodward Ave,43.665269,-79.319796,15,43.672278,-79.322523,Motimahal Restaurant Ltd,798,"1422 Gerrard St E (Coxwell), Toronto ON M4L 1Z6",(416) 461-3111,7.6,1
2,Queen St E / Woodward Ave,43.665269,-79.319796,15,43.671871,-79.324283,Bombay Chowpatty,812,"1386 Gerrard St E, Toronto ON M4L 1Z2",(416) 405-8080,7.3,1
3,Queen St E / Woodward Ave,43.665269,-79.319796,15,43.672004,-79.322433,Regency Restaurant Inc,790,"1423 Gerrard St E (Hiawatha St), Toronto ON M4...",(416) 778-7366,6.2,1
4,Queen St E / Woodward Ave,43.665269,-79.319796,15,43.666400,-79.316826,Butter Chicken Roti,255,"1610 Queen St E (Coxwel), Toronto ON M4L 1G2",(647) 349-7684,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
104081,800 Fleet St,43.636804,-79.408832,26,43.641873,-79.411437,My Roti Place,982,"901 King St W (at Strachan Ave), Toronto ON M5...",(647) 295-9446,NaN,1
104082,800 Fleet St,43.636804,-79.408832,26,43.638479,-79.417204,Brazen Head Irish Pub,617,"165 E. Liberty St (at Lynn Williams St.), Toro...",(416) 535-8787,6.1,1
104083,800 Fleet St,43.636804,-79.408832,26,43.641873,-79.411437,My Roti Place,622,"901 King St W (at Strachan Ave), Toronto ON M5...",(647) 295-9446,NaN,1
104084,800 Fleet St,43.636804,-79.408832,26,43.638768,-79.416315,Maurya East Indian Cuisine - Liberty Village,655,"150 E Liberty St, Toronto ON M6K 3R5",(647) 347-7002,NaN,1
104085,800 Fleet St,43.636804,-79.408832,26,43.638479,-79.417204,Brazen Head Irish Pub,692,"165 E. Liberty St (at Lynn Williams St.), Toro...",(416) 535-8787,6.1,1

In [131]:
# close the database connection
connection.close()

Look at the data before and after the join to validate your data.